

// ------ COLORS VARIABLES -------

$accent-color               : hsl(0, 94%, 67%);
$primary-color              : hsl(180, 94%, 91%);
$secondary-color            : hsl(67, 94%, 83%);

$nav-color                  : gold;

// ------ FONTS VARIABLES -------

$font-family                : Helvetica, sans-serif;
$prime-font                 : normal 400 18px/1.5 $font-family;
$heading-font-family        : Georgia, serif;